.sitenav {
}

.sitenav__inner {
}

.sitenav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  color: dodgerblue;
  text-decoration: none;

  &:hover {
    background-color: dodgerblue;
    color: #fff;
  }

  &:active {
    opacity: 0.6;
  }
}
