.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo-link {
  display: inline-block;
}

.site-header__logo-img {
  display: block;
}

.site-header__sitenav {
  display: none;
}

.site-header--open .site-header__sitenav {
  display: block;
}
